@using Microsoft.AspNetCore.Http;
@model IEnumerable<SecureGroup.ViewModel.TaskViewModel>
@{
    ViewData["Title"] = "TaskAllocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string Filename = null;
}
@{
    string UserRoleId = @Context.Session.GetString("RoleID");
    string UserRoleName = @Context.Session.GetString("RoleName");
}

@*<ul class="addbtns">
    <li>
        <button class="header-add-btn" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i>assign task</button>
    </li>
</ul>*@
<div class="common-title-headeer">
    <h1>Assign Task</h1>

    <ul class="addbtns">
        <li>
            @if (TempData["userRole"] == "1")
            {
                <button class="header-add-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i><a asp-controller="Operation" asp-action="AssignTask">Assign Task</a></button>
            }
        </li>
    </ul>
</div>


<input type="hidden" class="hidTaskId" value="@TempData["TaskId"]" />

<div class="row">
    <div class="col-lg-7">
        <div class="task-allocation-tabular-data">

            <div class="warehouse-data table-responsive">

                <table id="mytable">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Priority</th>
                            <th>Due Date</th>
                            @*<th></th>*@
                            <th></th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="rows">
                                <td>

                                    <div class="task-name">
                                        #<span>@Html.DisplayFor(modelItem => item.TaskId)</span>
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                        <span>
                                            @Html.DisplayFor(modelItem => item.TaskName)
                                        </span>

                                       @* <a href="@Url.Action("DownloadFile", "Operation", new { filename = item.TaskDocumentName })">
                                            <img src="~/images/attach-icon.svg" />
                                            <a />*@

                                    </div>
                                    <input type="hidden" class="TaskId" value="@item.TaskId">
                                    <input type="hidden" class="TaskName" value="@item.TaskName">
                                    <input type="hidden" class="TaskPriority" value="@item.TaskPriority">
                                    <input type="hidden" class="TaskDueDateTime" value="@item.TaskDueDateTime">
                                    <input type="hidden" class="AssignToName" value="@item.AssignToName">
                                    <input type="hidden" class="ProjectName" value="@item.ProjectName">
                                    <input type="hidden" class="SiteName" value="@item.SiteName">
                                    <input type="hidden" class="ProjectHeadName" value="@item.ProjectHeadName">
                                    <input type="hidden" class="TaskDescription" value="@item.TaskDescription">
                                    <input type="hidden" class="TaskDocumentName" value="@item.TaskDocumentName">
                                    <input type="hidden" class="TaskDueDate" value="@item.TaskDueDate">
                                    <input type="hidden" class="TaskDueTime" value="@item.TaskDueTime">
                                    @*@{
                                DateTime myDT = Convert.ToDateTime(@item.TaskDueDateTime);
                                String myDate = myDT.ToLongDateString();
                                String myTime = myDT.ToString("hh:mm tt");
                                <input type="hidden" class="TaskDueDate" value="@myDate">
                                <input type="hidden" class="TaskDueTime" value="@myTime">
                                }*@

                                </td>
                                <td>
                                    @if (item.TaskPriority == "High")
                                    {
                                        <span class="priority-badge badge-danger">High</span>
                                    }
                                    @if (item.TaskPriority == "Low")
                                    {
                                        <span class="priority-badge low-badge">Low</span>
                                    }
                                    @if (item.TaskPriority == "Normal")
                                    {
                                        <span class="priority-badge badge-success">Normal</span>
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.TaskDueDate)-@Html.DisplayFor(modelItem => item.TaskDueTime)</td>

                                @*<td><span class="task-badge">ts</span></td>*@
                                <td>
                                    @if (UserRoleId == "1")
                                    {
                                        <div class="dropdown td-action-dot">
                                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li>@Html.ActionLink("Edit", "EditAssignTask", new { Id=item.TaskId}, new { @class = "dropdown-item"})</li>
                                                <li>@Html.ActionLink("Delete", "DeleteAssignTask", new { Id=item.TaskId},new { @class = "dropdown-item"})</li>

                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>


        </div>

    </div>
    <div class="col-lg-5 taskDetailsDiv" style="display:none;">

        <div class="">
        <div id="partial-taskDetails-load"></div>
       
      
        </div>


    </div>
</div>


<div class="tasklist-assing-update divHS" style="display:none;">



    <div id="partial-taskDetailsList-load"></div>

</div>

<button class="edit_tsk_upd divHS"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>


<div class="tasklist-assing-update divHSA" style="display:none;">

  

    <div id="div-updateForm">
        <form asp-action="UserUpdateAssignTask" id="myForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="@Model.FirstOrDefault().TaskUpdate.TaskStatus" class="control-label">Task Status <span>*</span></label>
                    <select asp-for="@Model.FirstOrDefault().TaskUpdate.TaskStatus" id="ddlTaskUpdateStatus"
                            class="form-control"
                            asp-items="@(new SelectList(@Model.FirstOrDefault().TaskStatusList,"Value", "Text"))">
                    </select>
                    @*<span asp-validation-for="@Model.FirstOrDefault().TaskUpdate.TaskStatus" class="text-danger"></span>*@
                    <input asp-for="@Model.FirstOrDefault().TaskUpdate.TaskId" type="hidden" id="inpTaskUpdateTaskId" />
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="@Model.FirstOrDefault().TaskUpdate.SpentTime" class="control-label">Spent Time<span>*</span></label>
                    <input asp-for="@Model.FirstOrDefault().TaskUpdate.SpentTime" class="form-control" type="time" id="inpSpentTime" />
                    <span asp-validation-for="@Model.FirstOrDefault().TaskUpdate.SpentTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="@Model.FirstOrDefault().TaskUpdate.Comment" class="control-label">Task Comment<span>*</span></label>
                    <textarea asp-for="@Model.FirstOrDefault().TaskUpdate.Comment" class="form-control" id="form4Example3_Comment" rows="4"></textarea>
                    <span asp-validation-for="@Model.FirstOrDefault().TaskUpdate.Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="">
                    <label asp-for="@Model.FirstOrDefault().TaskUpdate.TaskDocument" class="control-label">Document</label>
                    <input asp-for="@Model.FirstOrDefault().TaskUpdate.TaskDocument" class="form-control form-control-lg" id="formFileLg" type="file" />

                </div>
            </div>
            <input type="submit" value="Update" class="data-save-btn" id="SaveBtn" />
        </form>
    </div>
</div>




<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="side-slide-form">
        <div class="side-slide-header">
            <h2>assign task</h2>
            <button data-widget="control-sidebar" data-slide="true"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>



        <form>
            <div class="form-inner">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Name</label>
                            <input type="text" placeholder="Task Name" />
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <h5>Task Due Date and Time</h5>
                        <ul class="date-time-list">
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i> 12 May, 2023</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>11:34:56 AM</li>
                        </ul>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Project Name</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Project Name</option>
                                <option value="a">Project Head</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Site Name</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Site Name</option>
                                <option value="a">City</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Priority</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Task Priority</option>
                                <option value="a">City</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Description</label>
                            <input type="text" placeholder="Task Description" />
                        </div>
                    </div>




                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Project Head</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Project Head</option>
                                <option value="a">Project Head</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Block</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Block</option>
                                <option value="a">City</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Document</label>
                            <input type="file" placeholder="Task Document" />
                            <button class="file-browse-btn">Browse</button>
                        </div>

                    </div>






                </div>

            </div>

            <button class="data-save-btn">ASSIGN</button>
        </form>



    </div>
</aside>


<script type="text/javascript">

    $(document).ready(function () {


        var tId = $(".hidTaskId").val();
        if (tId > 0) {             
           
            $('#partial-taskDetailsList-load').load('/Operation/_taskUpdateListPartial?Id=' + tId);
            $('#partial-taskDetails-load').load('/Operation/_taskDetailsPartial?Id=' + tId);
            $(".taskDetailsDiv").show();
            $(".divHS").show();
            $("#inpTaskUpdateTaskId").val(tId);
        }
        

    $(
        function () {
            $(".rows").click(
                function (e) {
                    //alert("Clicked on row");
                    debugger;                   

                    var TaskId = $(this).find(".TaskId").val();
                    $(".lblTaskName").text($(this).find(".TaskName").val());
                    $(".lblAssignToName").text($(this).find(".AssignToName").val());
                    $(".lblTaskDueDate").text($(this).find(".TaskDueDate").val());
                    $(".lblTaskTime").text($(this).find(".TaskDueTime").val());
                    $(".lblProjectName").text($(this).find(".ProjectName").val());
                    $(".lblSiteName").text($(this).find(".SiteName").val());
                    $(".lblDescription").text($(this).find(".TaskDescription").val());
                    $(".lblPriority").text($(this).find(".TaskPriority").val());
                    var fileName = $(this).find(".TaskDocumentName").val();
                    $("#btnDownload").attr("href", "/Operation/DownloadFile?filename=" + fileName);
                        $('#partial-taskDetailsList-load').load('/Operation/_taskUpdateListPartial?Id=' + TaskId);
                        $('#partial-taskDetails-load').load('/Operation/_taskDetailsPartial?Id=' + TaskId);
                        $("#inpTaskUpdateTaskId").val(TaskId);
                    //alert(e.target.innerHTML)
                  
                    
                    $(".taskDetailsDiv").show();
                        $(".divHS").show();
                }
            )
        }
    );

    });


    $(".edit_tsk_upd").click(function (e) {
       
        $(".divHSA").show();
        
    });

    $("#SaveBtn").click(function (e) {

        var Comment = $("#form4Example3_Comment").val();
        var SpentTime = $("#inpSpentTime").val();
        var Status = $("#ddlTaskUpdateStatus").val();

        if (Status == 0) {
            alert("Please select Status ");
            return false;
        }
        if (SpentTime == null || SpentTime == "") {
            alert("Please enter Spent Time ");
            return false;
        }
        if (Comment==null || Comment=="")
        {
            alert("Please enter Comment ");
            return false;
        }
       
        

    });

   @* $("#SaveBtn").click(function (e) {
       
        var dataToPost = $("#myForm").serialize();
      

        $.ajax({
            type: 'POST',
            dataType: 'json',
                url: '/Operation/UserUpdateAssignTask',
                data: dataToPost,
            success: function (Data) {
                alert(data.id);
                alert(data.name);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    });
*@

                //$('#mytable tr').each(function () {
                //    var customerId = $(this).find(".TaskId").html();
                //    alert(customerId);
                //});

</script>