@model SecureGroup.ViewModel.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@if (TempData["errormessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("Error!", '@TempData["errormessage"]', "error");
        };
    </script>
}

@if (TempData["successmessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("success!", '@TempData["successmessage"]', "success");
        };
    </script>
}*@

<div class="common-title-headeer">
    <h1>@Model.RoleName Dashboard</h1>
</div>

@if (Model.RoleId == 1)
{

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="d-card">
                @*  <p>Total Assigned Project</p>*@
                <p>Total Project</p>
                <h2>@Model.ProjectCount</h2>
                <img src="~/images\d-card-frame1.svg" />
                <img src="~/images\d-card-icon1.svg" class="postion-icon" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-card">
                @*<p>Total Assigned Task</p>*@
                <p>Total Task</p>
                <h2>@Model.TaskCount</h2>
                <span> Active - @Model.ActiveTaskCount/@Model.TaskCount</span>
                <img src="~/images\d-card-frame2.svg" />
                <img src="~/images\d-card-icon2.svg" class="postion-icon" />
            </div>
        </div>


        <div class="col-md-4">
            <div class="d-card">
                <p>Total Site</p>
                <h2>@Model.SiteCount</h2>
                <img src="~/images\d-card-frame-31.svg" />
                <img src="~/images\d-card-icon3.svg" class="postion-icon" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <div class="dashborad-data-box table-responsive">

                <table>
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th></th>
                            <th>No of User</th>

                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td>Admin</td>
                            <td></td>
                            <td>@Model.AdminCount</td>
                        </tr>

                        <tr>
                            <td>Employee</td>
                            <td></td>
                            <td>@Model.EmployeeCount</td>
                        </tr>
                        <tr>
                            <td>Vendor</td>
                            <td></td>
                            <td>@Model.VendorCount</td>
                        </tr>
                        <tr>
                            <td>Supplier</td>
                            <td></td>
                            <td>@Model.SupplierCount</td>
                        </tr>


                    </tbody>
                </table>

                @* <table>
            <thead>
            <tr>
            <th>Task ID</th>
            <th>Task Name</th>
            <th>Input Time</th>
            <th>Status</th>

            </tr>

            </thead>

            <tbody>
            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge un-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge partial-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge un-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge partial-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge un-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>

            <tr>
            <td>#01</td>
            <td>Lorem ipsum dolor</td>
            <td>5 Hours</td>
            <td><span class="d-status-badge partial-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            </tr>
            </tbody>
            </table>*@

            </div>

        </div>
        <div class="col-md-6">
            <div class="dashborad-data-box">
                <div class="dashborad-data-box table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Head</th>
                                <th>Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.projectList)
                            {
                                <tr>
                                    <td>@item.ProjectName</td>
                                    <td>@item.ProjectHeadName</td>
                                    <td>₹ @item.ProjectBudget</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
}

@if (Model.RoleId == 4)
{

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="d-card">
                @*  <p>Total Assigned Project</p>*@
                <p>Total Project</p>
                <h2>@Model.ProjectCount</h2>
                <img src="~/images\d-card-frame1.svg" />
                <img src="~/images\d-card-icon1.svg" class="postion-icon" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="d-card">
                @*<p>Total Assigned Task</p>*@
                <p>Total Task</p>
                <h2>@Model.TaskCount</h2>
                <span> Active - @Model.ActiveTaskCount/@Model.TaskCount</span>
                <img src="~/images\d-card-frame2.svg" />
                <img src="~/images\d-card-icon2.svg" class="postion-icon" />
            </div>
        </div>


        <div class="col-md-4">
            <div class="d-card">
                <p>Total Site</p>
                <h2>@Model.SiteCount</h2>
                <img src="~/images\d-card-frame-31.svg" />
                <img src="~/images\d-card-icon3.svg" class="postion-icon" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">

            <div class="dashborad-data-box table-responsive">

                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Priority</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.taskList)
                        {
                            <tr>                               
                                <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                                <td>
                                    @if (item.TaskPriority == "High")
                                    {
                                        <span class="priority-badge badge-danger">High</span>
                                    }
                                    @if (item.TaskPriority == "Low")
                                    {
                                        <span class="priority-badge low-badge">Low</span>
                                    }
                                    @if (item.TaskPriority == "Normal")
                                    {
                                        <span class="priority-badge badge-success">Normal</span>
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.TaskDueDate)-@Html.DisplayFor(modelItem => item.TaskDueTime)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <div class="dashborad-data-box">
                <div class="dashborad-data-box table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Head</th>
                                @*<th>Budget</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.projectList)
                            {
                                <tr>
                                    <td>@item.ProjectName</td>
                                    <td>@item.ProjectHeadName</td>
                                    @*<td>₹ @item.ProjectBudget</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
}

