@model SecureGroup.ViewModel.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- font awesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
</head>
<body>

    <div class="welcome-pages">

        <div class="welcome-wrapper">

           @* @if (ViewBag.errormessage != null)
            {
                <p class="alert alert-danger" id="successMessage">@ViewBag.errormessage</p>
                <script type="text/javascript">
                    window.onload = function () {
                        swal("Good job!", '@ViewBag.errormessage, "error");
                    };
                </script>
            }*@

            @if (TempData["errormessage"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        swal("Error!", '@TempData["errormessage"]', "error");
                    };
                </script>
            }          



            @if (TempData["successmessage"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        swal("success!", '@TempData["successmessage"]', "success");
                    };
                </script>
            }

            <div class="welcome-header">
                <img src="~/images/logo.svg" class="login-logo" alt="">
            </div>

            
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="logas">
                    <h2>Login as </h2>
                <select asp-for="RoleId" id="ddlRoleId"
                        class="form-control"
                        asp-items="@(new SelectList(Model.RoleList,"Value", "Text"))">
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="mb-3 custom-form-control">                  
                    
                    <input asp-for="Username" class="form-control" placeholder="Phone No or Email Address" />
                    <span asp-validation-for="Username" class="text-danger"></span>

                </div>
                <div class="mb-3 custom-form-control" id="show_hide_password">
                    <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                    <span asp-validation-for="Username" class="text-danger"></span>                   
                    <a href="javascript:void(0)" class="toggle-pass"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>

                <a class="f-pass-btn" asp-action="ForgotPassword" asp-controller="Home">Forgot Password?</a>
                <img src="~/images/robot.png" class="rbt-png">
                
               @* <a asp-controller="Home" asp-action="Dashboard" class="login-process-btn" style="display:flex; align-items:center; justify-content:center; text-decoration:none; margin:50px auto 0 auto;">
                    Submit                   
                </a>*@
                
                <input class="form-control" type="hidden" id="lat" />
                <input class="form-control" type="hidden" id="lng" />
                

                <input type="submit" value="Login" class="login-process-btn" id="btnLogin" />
            </form>

        </div>

    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/devjs/js_login.js"></script>         
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>
