@model SecureGroup.ViewModel.PurchaseOrderViewModel

@{
    ViewData["Title"] = "AddEditPurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@

<div class="common-title-headeer">
    <h1> Purchase Order</h1>

    <ul class="addbtns">
        <li>
            <button class="header-add-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i><a asp-controller="Order" asp-action="PurchaseOrderList"> Purchase Order List</a></button>
        </li>
    </ul>
</div>


<div class="form-inner">

    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddEditPurchaseOrder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="@Model.PurchaseOrderId" class="form-control EditPurchaseOrderId" type="hidden" />
                <input asp-for="QuatationToPaymentId" class="form-control QuatationToPaymentId" type="hidden" />
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="PurchaseNo" class="control-label">Purchase No</label>
                        <input asp-for="PurchaseNo" class="form-control" />
                        <span asp-validation-for="PurchaseNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="PurchaseDate" class="control-label">Purchase Date</label>
                        <input asp-for="PurchaseDate" class="form-control" type="date" />
                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="VendorId" class="control-label">Vendor Name</label>
                        <select asp-for="VendorId" id="VendorId"
                                class="form-control"
                                asp-items="@(new SelectList(Model.VendorList,"Value", "Text"))">
                        </select>
                        <span asp-validation-for="VendorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="VendorAddress" class="control-label">Vendor Address</label>
                        <textarea asp-for="VendorAddress" class="form-control" rows="3" id="VendorAddress"></textarea>
                        <span asp-validation-for="VendorAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="VendorEmail" class="control-label">Vendor Email</label>
                        <input asp-for="VendorEmail" class="form-control" id="VendorEmail" />
                        <span asp-validation-for="VendorEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="VendorGSTNo" class="control-label">Vendor GST No.</label>
                        <input asp-for="VendorGSTNo" class="form-control" id="VendorGSTNo" />
                        <span asp-validation-for="VendorGSTNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="VendorMobileNo" class="control-label">Vendor Mobile No.</label>
                        <input asp-for="VendorMobileNo" class="form-control" id="VendorMobileNo" />
                        <span asp-validation-for="VendorMobileNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="VendorCode" class="control-label">Vendor Code</label>
                        <input asp-for="VendorCode" class="form-control" id="VendorCode" />
                        <span asp-validation-for="VendorCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="ShipTo" class="control-label">Ship To</label>
                        <input asp-for="ShipTo" class="form-control" id="ShipTo" />
                        <span asp-validation-for="ShipTo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="ShipToAddress" class="control-label">Ship To Address</label>
                        <textarea asp-for="ShipToAddress" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="ShipToAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="BillTo" class="control-label">Bill To</label>
                        <input asp-for="BillTo" class="form-control" id="BillTo" />
                        <span asp-validation-for="BillTo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="BillToAddress" class="control-label">Bill To Address</label>
                        <textarea asp-for="BillToAddress" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="BillToAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="BillToGSTNo" class="control-label">Bill To GST No.</label>
                        <input asp-for="BillToGSTNo" class="form-control" />
                        <span asp-validation-for="BillToGSTNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="custom-form-control">
                        <label asp-for="TermsConditions" class="control-label">Terms & Conditions</label>
                        <textarea asp-for="TermsConditions" class="form-control"></textarea>
                        <span asp-validation-for="TermsConditions" class="text-danger"></span>
                    </div>
                </div>


                <table id="maintable" class="table table-striped table-bordered bulk_action">

                    <th>Product</th>
                    <th>SubProduct</th>
                    <th>UOM</th>
                    <th>Quantity</th>
                    <th>UnitPrice</th>
                    <th>Amount</th>
                    <th>GSTType</th>
                    <th>GST%</th>
                    <th>GSTAmount</th>
                    <th>TotalAmount</th>
                    <th>Remove</th>

                    @for (int i = 0; i < Model.PurchaseOrderDetails.Count; i++)
                    {
                        <tr class="data-contact-person">
                            @* <td>
                        <input asp-for="@Model.PurchaseOrderDetails[i].PurchaseOrderId" class="form-control PurchaseOrderId" />
                        </td>*@
                            <td>
                                <input asp-for="@Model.PurchaseOrderDetails[i].PurchaseOrderId" class="form-control PurchaseOrderId" type="hidden" />
                                <input asp-for="@Model.PurchaseOrderDetails[i].PurchaseOrderDetailsId" class="form-control PurchaseOrderDetailsId" type="hidden" />
                                <select asp-for="@Model.PurchaseOrderDetails[i].ProductId"
                                        class="form-control ProductId" disabled="disabled"
                                        asp-items="@(new SelectList(Model.ProductList,"Value", "Text"))">
                                </select>
                            </td>
                            <td>
                                <select asp-for="@Model.PurchaseOrderDetails[i].SubProductId"
                                        class="form-control SubProductId" disabled="disabled"
                                        asp-items="@(new SelectList(Model.SubProductList,"Value", "Text"))">
                                </select>
                            </td>
                            <td>
                                <select asp-for="@Model.PurchaseOrderDetails[i].UnitId"
                                        class="form-control UnitId" disabled="disabled"
                                        asp-items="@(new SelectList(Model.UnitList,"Value", "Text"))">
                                </select>
                            </td>
                            <td>
                                <input asp-for="@Model.PurchaseOrderDetails[i].Quantity" class="form-control Quantity" disabled="disabled" />
                            </td>
                            <td>
                                <input asp-for="@Model.PurchaseOrderDetails[i].UnitPrice" class="form-control UnitPrice" disabled="disabled" />
                            </td>
                            <td>
                                <input asp-for="@Model.PurchaseOrderDetails[i].Amount" class="form-control Amount" disabled="disabled" />
                            </td>
                            <td>
                                <input type="radio" value="1" asp-for="@Model.PurchaseOrderDetails[i].GSTTypeId" />IGST<br />
                                <input type="radio" value="2" asp-for="@Model.PurchaseOrderDetails[i].GSTTypeId" />CGST & SGST<br />
                            </td>
                            <td>
                                <input asp-for="@Model.PurchaseOrderDetails[i].GSTPercen" class="form-control GSTPercen" disabled="disabled" />
                            </td>
                            <td>
                                <input asp-for="@Model.PurchaseOrderDetails[i].GSTAmount" class="form-control GSTAmount" disabled="disabled" />
                            </td>
                            <td>
                                <input asp-for="@Model.PurchaseOrderDetails[i].TotalAmount" class="form-control TotalAmount" readonly="readonly" />
                            </td>

                            <td>
                                <input type="button" value="Show" class="btn btn-secondary approve-reject-btn editPurchaseItem" data-bs-toggle="modal" data-bs-target="#comment-modal1" />
                                @*<input type="button" value="Show" class="btn btn-secondary approve-reject-btn editPurchaseItem" />*@
                                <input type="submit" value="Remove" class="btn-Remove" asp-controller="Order" asp-action="DeletePurchaseItem" asp-route-PurchaseOrderDetailsId="@Model.PurchaseOrderDetails[i].PurchaseOrderDetailsId" asp-route-PurchaseOrderId="@Model.PurchaseOrderDetails[i].PurchaseOrderId" />


                            </td>
                        </tr>
                    }
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>Grand Total-</td><td>@Model.PurchaseOrderDetails.Sum(s=>s.TotalAmount)</td><td></td> </tr>

                </table>

                <tr>
                    <td colspan="2">
                        @*<a type="button" value="Add New Data" class="btn btn-danger approve-reject-btn" asp-controller="Order" asp-action="_PurchaseItemPartial" asp-route-PurchaseOrderDetailsId="0" asp-route-PurchaseOrderId="Model.PurchaseOrderId" />*@
                        <input type="button" id="btnAddItem" value="Add New Data" title="Add New Data" class="classAdd data-save-btn" data-bs-toggle="modal" data-bs-target="#comment-modal1" />
                        @*@Html.ActionLink("Add New", "_PurchaseItemPartial", new { PurchaseOrderDetailsId=0,PurchaseOrderId=Model.PurchaseOrderId},new { @class = "btn btn-danger approve-reject-btn"})*@
                    </td>
                </tr>

                <div class="form-group">
                    <input type="submit" value="Update" class="data-save-btn" />
                </div>
            </form>
        </div>
    </div>



</div>

@*<div id="partiaload1">
    hi
</div>*@

<div class="modal fade" id="comment-modal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Purchase Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="partial-purchaseItem-load">
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script type="text/javascript">
    $(document).ready(function () {

        //$('#PurchaseDate').val(dateToInput(new Date()));
        //$('#PurchaseDate').val(moment().format('DD-MM-YYYY'));
        //$(document).on("click", ".classAdd", function () { //
        //    debugger;
        //    var rowCount = $('.data-contact-person').length;
        //    var rowText = $("#maintable tr:last-child").children("td").find(".PurchaseOrderDetailsId").val();
        //    if (parseInt(rowText) > 0) {
        //        rowCount = rowCount + rowText;
        //    }
        //    //var lastcel = $("#maintable tr:last-child").children("td").addClass("sos");
        //    var dropDownId = "PurchaseOrderDetails_" + rowCount + "__ProductId";
        //    var dropDownName = "PurchaseOrderDetails[" + rowCount + "].ProductId";
        //    //var select = $('<select>').prop('id', dropDownId).prop('name', dropDownName);
        //    var select = '<select id=' + dropDownId + ' name=' + dropDownName + ' class="form-control ProductId" > ';

        //    var ddlSubProductId = "PurchaseOrderDetails_" + rowCount + "__SubProductId";
        //    var ddlSubProductName = "PurchaseOrderDetails[" + rowCount + "].SubProductId";
        //    var ddlSubProduct = '<select id=' + ddlSubProductId + ' name=' + ddlSubProductName + ' class="form-control ProductId"> </select>';

        //    var ddlUnitId = "PurchaseOrderDetails_" + rowCount + "__UnitId";
        //    var ddlUnitName = "PurchaseOrderDetails[" + rowCount + "].UnitId";
        //    var ddlUnit = '<select id=' + ddlUnitId + ' name=' + ddlUnitName + ' class="form-control UnitId">';

        //    var optionValue = '';
        //    var optionValue1 = '';

        //    //- Start DD
        //    var valu = "0";
        //    var ValueType = "Product";
        //    $.ajax(
        //        {
        //            url: '/Inventory/GetDropdownListDataById?Id=' + valu + '&DropdownDataType=' + ValueType,
        //            type: 'GET',
        //            data: "",
        //            contentType: 'application/json; charset=utf-8',
        //            success: function (data) {

        //                $.each(data, function (index, row) {
        //                    var a = row.value;
        //                    // $(select).append("<option value='" + row.value + "'>" + row.text + "</option>")
        //                    optionValue = optionValue + "<option value='" + row.value + "'>" + row.text + "</option>";

        //                });
        //                select = select + optionValue + '</select>';
        //                //alert(select);
        //                //var ta = BindUnitDDl("11");
        //                //alert(ta);


        //                var ValueType1 = "Unit";
        //                var ddlUnitValue = "";
        //                $.ajax(
        //                    {
        //                        url: '/Inventory/GetDropdownListDataById?Id=0&DropdownDataType=' + ValueType1,
        //                        type: 'GET',
        //                        data: "",
        //                        contentType: 'application/json; charset=utf-8',
        //                        success: function (data) {

        //                            $.each(data, function (index, row) {
        //                                var a = row.value;
        //                                // $(select).append("<option value='" + row.value + "'>" + row.text + "</option>")
        //                                optionValue1 = optionValue1 + "<option value='" + row.value + "'>" + row.text + "</option>";

        //                            });
        //                            ddlUnit = ddlUnit + optionValue1 + '</select>';
        //                            //alert("Under-" + ddlValue);
        //                            // return ddlValue;

        //                            var contactdiv = '<tr class="data-contact-person">' +
        //                                //'<td><input type="number" name="PurchaseOrderDetails[' + rowCount + '].PurchaseOrderId" id="PurchaseOrderDetails_' + rowCount + '__PurchaseOrderId" class="form-control PurchaseOrderId" /></td>' +
        //                                //'<td><input type="number" name="PurchaseOrderDetails[' + rowCount + '].ProductId" id="PurchaseOrderDetails_' + rowCount + '__ProductId" class="form-control ProductId" /></td>' +
        //                                '<td>' + select + '<input class="form-control PurchaseOrderDetailsId" type="hidden"  id="PurchaseOrderDetails_' + rowCount + '__PurchaseOrderDetailsId" name="PurchaseOrderDetails[' + rowCount + '].PurchaseOrderDetailsId" value="-1">' + '</td>' +
        //                                '<td>' + ddlSubProduct + '</td>' +
        //                                '<td>' + ddlUnit + '</td>' +
        //                                //'<td><input type="number" name="PurchaseOrderDetails[' + rowCount + '].SubProductId" id="PurchaseOrderDetails_' + rowCount + '__SubProductId" class="form-control SubProductId" /></td>' +
        //                                //'<td><input type="number" name="PurchaseOrderDetails[' + rowCount + '].Thickness" id="PurchaseOrderDetails_' + rowCount + '__Thickness" class="form-control Thickness" /></td>' +
        //                                '<td><input type="number" value="0" name="PurchaseOrderDetails[' + rowCount + '].Quantity" id="PurchaseOrderDetails_' + rowCount + '__Quantity" class="form-control Quantity" /></td>' +
        //                                '<td><input type="number" value="0" name="PurchaseOrderDetails[' + rowCount + '].UnitPrice" id="PurchaseOrderDetails_' + rowCount + '__UnitPrice" class="form-control UnitPrice" /></td>' +
        //                                '<td><input type="number" value="0" name="PurchaseOrderDetails[' + rowCount + '].Amount" id="PurchaseOrderDetails_' + rowCount + '__Amount" class="form-control Amount" /></td>' +
        //                                '<td><input type ="radio" value="1" id = "PurchaseOrderDetails_' + rowCount + '__GSTTypeId" name = "PurchaseOrderDetails[' + rowCount + '].GSTTypeId" > IGST<input type="radio" value = "2" id = "PurchaseOrderDetails_' + rowCount + '__GSTTypeId" name = "PurchaseOrderDetails[' + rowCount + '].GSTTypeId" > CGST & SGST </td>' +
        //                                '<td><input type="number" value="0" name="PurchaseOrderDetails[' + rowCount + '].GSTPercen" id="PurchaseOrderDetails_' + rowCount + '__GSTPercen" class="form-control GSTPercen" /></td>' +
        //                                '<td><input type="number" value="0" name="PurchaseOrderDetails[' + rowCount + '].GSTAmount" id="PurchaseOrderDetails_' + rowCount + '__GSTAmount" class="form-control GSTAmount" /></td>' +
        //                                '<td><input type="number" value="0" name="PurchaseOrderDetails[' + rowCount + '].TotalAmount" id="PurchaseOrderDetails_' + rowCount + '__TotalAmount" class="form-control TotalAmount" /></td>' +


        //                                //'<td><input type="number" name="PurchaseOrderDetails[' + rowCount + '].UnitId" id="PurchaseOrderDetails_' + rowCount + '__UnitId" class="form-control UnitId" /></td>' +



        //                                //'<td><button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button>' +
        //                                '<td><button type="button" id="btnDelete" class="deleteContact btn btn btn-danger btn-xs">Remove</button></td>' +
        //                                '</tr>';
        //                            $('#maintable').append(contactdiv); // Adding these controls to Main table class

        //                        }
        //                    });


        //            },
        //            error: function () {
        //                alert("error");
        //            }
        //        });

        //    //-End DD

        //});

        //$(document).on("click", ".deleteContact", function () {
        //    $(this).closest("tr").remove(); // closest used to remove the respective 'tr' in which I have my controls
        //});


        $("#VendorId").on("change", function () {

            var valu = $("#VendorId").val();

            $.ajax(
                {
                    url: '/Order/GetUserDetailsJsonData?Id=' + valu,
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var PermanentAddress = data.permanentAddress;
                        var PresentAddress = data.presentAddress;
                        var VendorEmail = data.email;
                        var VendorMobileNo = data.MobileNo;
                        var VendorCode = data.UserCode;
                        $("#VendorAddress").val(PermanentAddress);
                        $("#VendorEmail").val(VendorEmail);
                        $("#VendorMobileNo").val(VendorMobileNo);
                        $("#VendorCode").val(VendorCode);
                    },
                    error: function () {
                        alert("error");
                    }
                });

        });

        //$('#maintable').on('keyup', '.Quantity', function () {
        //    // alert($(this).attr("id"));
        //    var ddlId = $(this).attr("id");
        //    var currentRow = $(this).closest("tr");

        //    var Quantity = $(this).val();
        //    var UnitPrice = currentRow.find(".UnitPrice").val();
        //    var Amount = 0.00;
        //    var PerAmount = 0.00;
        //    var percent = currentRow.find(".GSTPercen").val();
        //    var ProductAmount = UnitPrice * Quantity;
        //    funCalculateAmount(UnitPrice, Quantity, Amount, percent, currentRow);
        //    //var vv = currentRow.find("td:eq(1)").html();
        //    //var vv = currentRow.find(".pd-name").html();
        //    // var vv = $('#maintable').find("tr:eq(1)").find("td:eq(1)").html();
        //});

        //$('#maintable').on('keyup', '.UnitPrice', function () {

        //    var ddlId = $(this).attr("id");
        //    var currentRow = $(this).closest("tr");

        //    var Quantity = currentRow.find(".Quantity").val();
        //    var UnitPrice = $(this).val();
        //    var Amount = 0.00;
        //    var PerAmount = 0.00;
        //    var percent = currentRow.find(".GSTPercen").val();
        //    var ProductAmount = UnitPrice * Quantity;
        //    funCalculateAmount(UnitPrice, Quantity, Amount, percent, currentRow);

        //});

        //$('#maintable').on('keyup', '.GSTPercen', function () {
        //    // alert($(this).attr("id"));
        //    var ddlId = $(this).attr("id");
        //    var currentRow = $(this).closest("tr");

        //    var Quantity = currentRow.find(".Quantity").val();
        //    var Amount = 0.00;
        //    var PerAmount = 0.00;
        //    var percent = $(this).val();
        //    var UnitPrice = currentRow.find(".UnitPrice").val();
        //    //var ProductAmount = UnitPrice * Quantity;
        //    funCalculateAmount(UnitPrice, Quantity, Amount, percent, currentRow);

        //});

        //$('.Quantity').keyup(function () {

        //    var Quantity = $(this).val();
        //    var UnitPrice = $(".UnitPrice").val();
        //    var Amount = 0.00;
        //    var PerAmount = 0.00;
        //    var percent = $(".GSTPercen").val();
        //    var ProductAmount = UnitPrice * Quantity;
        //    funCalculateAmount(UnitPrice, Quantity, Amount, percent, currentRow);
        //});

        //$('.UnitPrice').keyup(function () {

        //    alert("test");
        //    var Quantity = $(".Quantity").val();
        //    var UnitPrice = $(this).val();
        //    var Amount = 0.00;
        //    var PerAmount = 0.00;
        //    var percent = $(".GSTPercen").val();
        //    var ProductAmount = UnitPrice * Quantity;
        //    funCalculateAmount(UnitPrice, Quantity, Amount, percent, currentRow);
        //});

        //$('.GSTPercen').keyup(function () {

        //    var Quantity = $(".Quantity").val();
        //    var UnitPrice = $(".UnitPrice").val();
        //    var Amount = 0.00;
        //    var PerAmount = 0.00;
        //    var percent = $(this).val();
        //    var ProductAmount = UnitPrice * Quantity;
        //    funCalculateAmount(UnitPrice, Quantity, Amount, percent, currentRow);
        //});

        function funCalculateAmount(UnitPrice, Quantity, Amount, percent, currentRow) {

            var percentVal = percent;
            var ProductAmount = UnitPrice * Quantity;
            var PercentageAmount = percentage(percentVal, ProductAmount);
            Amount = (parseFloat(ProductAmount) + parseFloat(PercentageAmount));
            debugger;
            var CSGSTAmount = (parseFloat(PercentageAmount) / 2);

            currentRow.find(".Amount").val(ProductAmount);
            currentRow.find(".GSTAmount").val(PercentageAmount);
            currentRow.find(".TotalAmount").val(Amount);

            //$("#APAmount").val(Amount);
            //$("#GSTAmount").val(PercentageAmount);
            //$("#CGSTAmount").val(CSGSTAmount);
            //$("#SGSTAmount").val(CSGSTAmount);
        };

        function percentage(percent, total) {
            var perAmount = ((percent / 100) * total).toFixed(2);

            return perAmount;
        };

        //$('body').on('change', '.ProductId', function () {
        //    // alert($(this).attr("id"));
        //    var currentRow = $(this).closest("tr");
        //    var ddlId = $(this).attr("id");
        //    var ddlIdVal = "#" + ddlId;
        //    var valu = $('' + ddlIdVal + '').val();
        //    var subDdlId = ddlIdVal.replace("ProductId", "SubProductId");
        //    var ValueType = "SubProduct";

        //    $.ajax(
        //        {
        //            url: '/Inventory/GetDropdownListDataById?Id=' + valu + '&DropdownDataType=' + ValueType,
        //            type: 'GET',
        //            data: "",
        //            contentType: 'application/json; charset=utf-8',
        //            success: function (data) {
        //                PopulateDropDown(subDdlId, data);

        //                //***************************** */
        //                $.ajax(
        //                    {
        //                        url: '/Master/GetProductGSTDetails?Id=' + valu,
        //                        type: 'GET',
        //                        data: "",
        //                        contentType: 'application/json; charset=utf-8',
        //                        success: function (data) {

        //                            debugger;
        //                            var gstPercenVal = data.gstPercen;
        //                            currentRow.find(".GSTPercen").val(gstPercenVal);
        //                        },
        //                        error: function () {
        //                            alert("error");
        //                        }
        //                    });

        //                //**************************** */
        //            },
        //            error: function () {
        //                alert("error");
        //            }
        //        });

        //});


        function PopulateDropDown(dropDownId, list) {

            $(dropDownId).empty();
            $.each(list, function (index, row) {
                var a = row.value;
                $(dropDownId).append("<option value='" + row.value + "'>" + row.text + "</option>")
            });
        };

        //$(".editPurchaseItem1").click(function () {

        //    debugger;
        //    var currentRow = $(this).closest("tr");
        //    var PurchaseOrderDetailsId = currentRow.find(".PurchaseOrderDetailsId").val();
        //    var PurchaseOrderId = currentRow.find(".PurchaseOrderId").val();
            
        //    $("#partiaload1").load('/Order/_AddEditPurchaseItemPartial?PurchaseOrderDetailsId=' + PurchaseOrderDetailsId + '&PurchaseOrderId=' + PurchaseOrderId + '&QuatationToPaymentId=' + QuatationToPaymentId);

        //});

        $(".editPurchaseItem").click(function () {
            
                var currentRow = $(this).closest("tr");
                var PurchaseOrderDetailsId = currentRow.find(".PurchaseOrderDetailsId").val();
                var PurchaseOrderId = currentRow.find(".PurchaseOrderId").val();
            // alert("PurchaseOrderDetailsId=" + PurchaseOrderDetailsId + '&PurchaseOrderId=' + PurchaseOrderId );
                debugger;
                $.ajax({
                    type: "GET",
                    url: "/Order/_AddEditPurchaseItemPartial",
                    data: 'PurchaseOrderDetailsId=' + PurchaseOrderDetailsId + '&PurchaseOrderId=' + PurchaseOrderId + '&QuatationToPaymentId=' + QuatationToPaymentId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                    $('#partial-purchaseItem-load').html(response);
                   // $('#partiaload1').html(response);
                      //  $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        });

            $("#btnAddItem").click(function () {

                //var currentRow = $(this).closest("tr");
                var PurchaseOrderDetailsId = "0";
                var PurchaseOrderId = $("#PurchaseOrderId").val();
                var QuatationToPaymentId = $("#QuatationToPaymentId").val();
                // alert(PurchaseOrderId);
                $('#partial-purchaseItem-load').load('/Order/_AddEditPurchaseItemPartial?PurchaseOrderDetailsId=' + PurchaseOrderDetailsId + '&PurchaseOrderId=' + PurchaseOrderId + '&QuatationToPaymentId=' + QuatationToPaymentId);

            });

            function getDate() {
                var today = new Date();

                document.getElementById("date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);


            };

        });
</script>