@model SecureGroup.ViewModel.WHStockProductViewModel

@{
    ViewData["Title"] = "AddProductItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/devjs/js_createwarehouse.js"></script>

<div class="common-title-headeer">
    <h1>Add Product in Warehouse</h1>

    <ul class="addbtns">
        <li>
            <button class="header-add-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i><a asp-controller="Inventory" asp-action="WarehouseStock"> STOCK</a></button>
        </li>
    </ul>
</div>


<div class="form-inner">
   
        <form asp-action="AddProductItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="WareHouseId" class="control-label">WareHouse<span>*</span></label>
                    <select asp-for="WareHouseId" id="WareHouseId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.WareHouseList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="WareHouseId" class="text-danger"></span>
                    <span style="color: red;" class="field-validation-valid" data-valmsg-for="WareHouseId" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="ProductId" class="control-label">Product<span>*</span></label>
                    <select asp-for="ProductId" id="APProductId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.ProductList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="SubProductId" class="control-label">SubProduct<span>*</span></label>
                    <select asp-for="SubProductId" id="APSubProductId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.SubProductList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="SubProductId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="UnitId" class="control-label">UOM<span>*</span></label>
                    <select asp-for="UnitId" id="UnitId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.UnitList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Quantity" class="control-label">Quantity<span>*</span></label>
                    <input asp-for="Quantity" id="APQuantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="UnitPrice" class="control-label">Unit Price<span>*</span></label>
                    <input asp-for="UnitPrice" id="APUnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Amount" class="control-label">Amount (INR)<span>*</span></label>
                    <input asp-for="Amount" class="form-control" id="APAmount" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                    <input type="hidden" asp-for="GSTTypeId" class="form-control" id="GSTTypeId" />
                    <input type="hidden" class="form-control" id="GSTPercen" />
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Amount" class="control-label">GST Amount<span id="lblgsttype"></span></label>
                    <input asp-for="GSTAmount" class="form-control" id="GSTAmount" />
                   
                </div>
            </div>
           
                <div class="col-md-4 mb-3 CSGSTDiv" style="display:none;">
                <div class="custom-form-control">
                    <label  class="control-label">CGST Amount</label>
                    <input  class="form-control" id="CGSTAmount" />

                </div>
            </div>
                <div class="col-md-4 mb-3 CSGSTDiv" style="display:none;">
                <div class="custom-form-control">
                    <label class="control-label">SGST Amount</label>
                    <input  class="form-control" id="SGSTAmount" />

                </div>
            </div>
            
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Comment" class="control-label">Comment</label>
                    <textarea asp-for="Comment" class="form-control"></textarea>                    
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="CreatedDate" class="control-label">Date<span>*</span></label>
                    <input asp-for="CreatedDate" class="form-control"  />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="SupplierId" class="control-label">Supplier<span>*</span></label>
                    <select asp-for="SupplierId" id="SupplierId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.SupplierList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="SupplierId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 mb-3">
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        </form>
        
  
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

