@model SecureGroup.ViewModel.WarehouseViewModel

@{
    ViewData["Title"] = "EditWarehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/devjs/js_createwarehouse.js"></script>

<div class="common-title-headeer">
    <h1>Create Warehouse</h1>

    <ul class="addbtns">
        <li>
            <button class="header-add-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i><a asp-controller="Inventory" asp-action="WarehouseList"> WAREHOUSE LIST</a></button>
        </li>
    </ul>
</div>

<div class="form-inner">
    <div class="row">
        <form asp-action="EditWarehouse" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="WarehouseId" class="form-control" type="hidden" />
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="WarehouseName" class="control-label">Warehouse Name<span>*</span></label>
                    <input asp-for="WarehouseName" class="form-control" />
                    <span asp-validation-for="WarehouseName" class="text-danger"></span>
                    <span style="color: red;" class="field-validation-valid" data-valmsg-for="WarehouseName" data-valmsg-replace="true"></span>

                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Address" class="control-label"><span>*</span></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="CountryId" class="control-label">Country<span>*</span></label>
                    <select asp-for="CountryId" id="ddlCountry"
                            class="form-control"
                            asp-items="@(new SelectList(Model.CountryList,"Value", "Text",Model.CountryId=101))">
                    </select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="StateId" class="control-label">State<span>*</span></label>
                    <select asp-for="StateId" id="ddlStateId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.StateList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="StateId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="CityId" class="control-label">City<span>*</span></label>
                    <select asp-for="CityId" id="ddlCityId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.CityList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="ZipCode" class="control-label">Zip-Code<span>*</span></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Block" class="control-label">Block<span>*</span></label>
                    <input asp-for="Block" class="form-control" />
                    <span asp-validation-for="Block" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="UserId" class="control-label">User Name<span>*</span></label>
                    <select asp-for="UserId" id="ddlUserId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.UserList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="AdminName" class="control-label">Admin Name</label>
                    <input asp-for="AdminName" class="form-control" id="AdminName" />
                    <span asp-validation-for="AdminName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="AdminContactNo" class="control-label">Admin Contact No.</label>
                    <input asp-for="AdminContactNo" class="form-control" id="AdminContactNo" />
                    <span asp-validation-for="AdminContactNo" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="AdminEmailId" class="control-label">Admin EmailId</label>
                    <input asp-for="AdminEmailId" class="form-control" id="AdminEmailId" />
                    <span asp-validation-for="AdminEmailId" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-10 mb-3">
                <div>
                    <label asp-for="DocumentFileUpload" class="control-label">Document Upload<span></span></label>
                    <input asp-for="DocumentFileUpload" class="form-control" />
                </div>
            </div>

            <div class="col-md-2 mb-3">
                <div class="custom-form-control">
                    @if (Model.WarehouseId == null || Model.WarehouseId == 0)
                    {
                        <i class="fa fa-times no-data-badge mt-4" aria-hidden="true"></i>
                    }
                    else
                    {
                        @Html.ActionLink("", "DownloadFile","Inventory" ,new { fileId=Model.WarehouseId}, new { @class = "text-success mt-5 fa fa-download"})
                    }
                </div>
            </div>

            <input type="submit" value="Update" class="btn btn-primary" />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
