@model SecureGroup.ViewModel.WHStockProductViewModel

@{
    ViewData["Title"] = "EditProductItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/devjs/js_createwarehouse.js"></script>

<div class="form-inner">
    <div class="row">


        <form asp-action="EditProductItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden" />
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="WareHouseId" class="control-label"></label>
                    <select asp-for="WareHouseId" id="WareHouseId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.WareHouseList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="WareHouseId" class="text-danger"></span>
                    <span style="color: red;" class="field-validation-valid" data-valmsg-for="WareHouseId" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" id="APProductId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.ProductList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="SubProductId" class="control-label"></label>
                    <select asp-for="SubProductId" id="APSubProductId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.SubProductList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="SubProductId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="UnitId" class="control-label"></label>
                    <select asp-for="UnitId" id="UnitId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.UnitList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="SupplierId" class="control-label"></label>
                    <select asp-for="SupplierId" id="SupplierId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.SupplierList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="SupplierId" class="text-danger"></span>
                </div>
            </div>


            <input type="submit" value="Update" class="btn btn-primary" />

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
