@model SecureGroup.ViewModel.WarehouseRapViewModel

@{
    ViewData["Title"] = "WarehouseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/devjs/js_createwarehouse.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
      rel="stylesheet" type="text/css" />

<!-- DataTable -->

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>

<!-- End DataTable -->
@if (TempData["errormessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("Error!", '@TempData["errormessage"]', "error");
        };
    </script>
}



@if (TempData["successmessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("success!", '@TempData["successmessage"]', "success");
        };
    </script>
}

<div class="common-title-headeer">
    <h1>Warehouse List</h1>

    <ul class="addbtns">
        <li>
            <button class="header-add-btn"><i class="fa fa-plus" aria-hidden="true"></i><a asp-controller="Inventory" asp-action="CreateWarehouse"> ADD WAREHOUSE</a></button>
        </li>
    </ul>
</div>




<div class="warehouse-data table-responsive">

    <table id="example">
        <thead>
            <tr>
                <th>ID</th>
                <th>Warehouse Name</th>
                <th>Location</th>
                <th>Admin Name</th>
                <th>Admin Contact Details (PH/EMAIL)</th>
                <th>View</th>
                <th>Download</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model.warehouseViewModel)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.WarehouseId)</td>
                    <td>@Html.DisplayFor(modelItem => item.WarehouseName)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address),@Html.DisplayFor(modelItem => item.City),@Html.DisplayFor(modelItem => item.State),
                        @Html.DisplayFor(modelItem => item.Country),@Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.AdminName)</td>
                    <td>@Html.DisplayFor(modelItem => item.AdminContactNo) / @Html.DisplayFor(modelItem => item.AdminEmailId)</td>
                    <td>
                        <a class="btn btn-secondary approve-reject-btn btnFileHistory" data-bs-toggle="modal" data-bs-target="#comment-modal1" data-id="@item.WarehouseId"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        @*<input type="button" value="Show" data-id="@item.WarehouseId" class="btn btn-secondary approve-reject-btn btnFileHistory" data-bs-toggle="modal" data-bs-target="#comment-modal1" />*@
                    </td>
                    <td>
                        <a asp-controller="Inventory" asp-action="DownloadFile" asp-route-fileId="@item.WarehouseId"><i class="fa fa-download" aria-hidden="true"></i></a>
                    </td>
                    <td>

                        <div class="dropdown td-action-dot">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>@Html.ActionLink("Edit", "EditWarehouse", new { Id=item.WarehouseId}, new { @id="btnShow",@class = "dropdown-item fa fa-pencil-square-o"})</li>
                                <li>@Html.ActionLink("Delete", "DeleteWarehouse", new { Id=item.WarehouseId},new { @class = "dropdown-item fa fa-trash-o"})</li>
                            </ul>
                        </div>
                    </td>
                </tr>

            }

        </tbody>
    </table>

    <!-- addwarehouse -->
    @*    <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="side-slide-form">
    <div class="side-slide-header">
    <h2>Add Warehouse</h2>
    <button data-widget="control-sidebar" data-slide="true"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>

    <form>
    <div class="form-inner">
    <div class="row">
    <div class="col-md-12 mb-3">
    <div class="custom-form-control">
    <label>Warehouse Name<span>*</span></label>
    <select name="" id="">
    <option value="" disabled selected hidden>Warehouse Name</option>
    <option value="a">Warehouse Name</option>
    </select>
    </div>
    </div>

    <div class="col-md-12 mb-3">
    <div class="custom-form-control">
    <label>Warehouse Location<span>*</span></label>
    <select name="" id="">
    <option value="" disabled selected hidden>Warehouse Location</option>
    <option value="a">Warehouse Location</option>
    </select>
    </div>
    </div>

    <div class="col-md-12 mb-3">
    <div class="custom-form-control">
    <label>Select Admin<span>*</span></label>
    <select name="" id="">
    <option value="" disabled selected hidden>Select</option>
    <option value="a">Select</option>
    </select>
    </div>
    </div>


    <div class="col-md-12 mb-3">
    <div class="custom-form-control">
    <label>Admin Phone No<span>*</span></label>
    <input type="number" placeholder="Warehouse Admin Phone No" />
    </div>
    </div>

    <div class="col-md-12 mb-3">
    <div class="custom-form-control">
    <label>Admin Email Id<span>*</span></label>
    <input type="email" placeholder="Warehouse Admin Email Id" />
    </div>
    </div>

    </div>

    </div>

    <button class="data-save-btn">Save</button>
    </form>

    @{
    Layout = "_CreateWarehouse";
    }

    </div>
    </aside>
    *@

    <div id="dialog">
    </div>



    <div class="modal fade " id="comment-modal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Document List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="warehouse-data table-responsive">
                        <div id="partial-FileList-load">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="side-slide-form">
            <div class="side-slide-header">
                <h2>Add Warehouse</h2>
                <button data-widget="control-sidebar" data-slide="true"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div id="popupdata">
            </div>


        </div>

    </aside>

</div>

<script>

    $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });

    //$(".btnFileHistory").click(function () {
    $("#example").on("click", ".btnFileHistory", function () {
        debugger;
        //var tr = $(this).closest('tr');
        var id = $(this).attr("data-id");
        //alert(id);
        $('#partial-FileList-load').load('/Inventory/FileListPartial?Id=' + id);
    });

</script>


@*<script type="text/javascript">

    $("#AddnewWH").click(function () {

    $.ajax({
        type: "GET",
        url: "/Inventory/CreateWarehouse",
        data: {  },
        success: function (response) {
            $('#dialog').html(response);
            $('#dialog').dialog('open');
        },
        failure: function (response) {
            alert(response.responseText);
        },
        error: function (response) {
            alert(response.responseText);
        }
    });
    });

    </script>*@
